<!--
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">

    <security:global-method-security pre-post-annotations="enabled" jsr250-annotations="enabled" secured-annotations="enabled"></security:global-method-security>

    &lt;!&ndash; 以下页面不被拦截 &ndash;&gt;
    <security:http pattern="/login.html" security="none"></security:http>
    <security:http pattern="/css/**" security="none"></security:http>
    <security:http pattern="/img/**" security="none"></security:http>
    <security:http pattern="/js/**" security="none"></security:http>
    <security:http pattern="/plugins/**" security="none"></security:http>

    &lt;!&ndash;
    	配置具体的规则
    	auto-config="true"	不用自己编写登录的页面，框架提供默认登录页面
    	use-expressions="false"	是否使用SPEL表达式
    &ndash;&gt;
    <security:http auto-config="true" use-expressions="true">
        &lt;!&ndash; 配置具体的拦截的规则 pattern="请求路径的规则" access="访问系统的人，必须有ROLE_USER的角色" &ndash;&gt;
        <security:intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN')"/>

        &lt;!&ndash; 定义跳转的具体的页面 &ndash;&gt;
        <security:form-login
                login-page="/login.html"
                login-processing-url="/login.do"
                default-target-url="/index.html"
                authentication-failure-url="/login.html"
                always-use-default-target="false"
        />

        <security:headers>
            <security:frame-options policy="SAMEORIGIN"/>
        </security:headers>

        &lt;!&ndash; 关闭跨域请求 &ndash;&gt;
        <security:csrf disabled="true"/>
        &lt;!&ndash; 退出 &ndash;&gt;
        <security:logout invalidate-session="true" logout-url="/logout.do" logout-success-url="/login.html" />
    </security:http>

    &lt;!&ndash; 切换成数据库中的用户名和密码 &ndash;&gt;
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDetailService">
            &lt;!&ndash;<security:user-service>&ndash;&gt;
                &lt;!&ndash;<security:user name="admin" password="123456" authorities="ROLE_ADMIN"/>&ndash;&gt;
            &lt;!&ndash;</security:user-service>&ndash;&gt;
            &lt;!&ndash; 配置加密的方式 &ndash;&gt;
            &lt;!&ndash;<security:password-encoder ref="passwordEncoder"/>&ndash;&gt;
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="userDetailService" class="com.pinyg.service.impl.UserManagerServiceImpl">
        <property name="userService" ref="userService"/>
    </bean>

    <dubbo:application name="mall_manager_web" />
    <dubbo:registry address="zookeeper://192.168.25.128:2181"/>
    <dubbo:reference id="userService" interface="com.pinyg.sellergoods.service.UserService"/>

        &lt;!&ndash; 配置加密类 &ndash;&gt;
    &lt;!&ndash;<bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>&ndash;&gt;
</beans>-->
